* {
    margin: 0;
    font-family: "Signika Negative", sans-serif;
}

.homepage {
    background-image: url(img4.jpg);
    background-size: cover;
    background-position: center;
    height: fit-content;
    width: 100%;
}
body {
    background-image: url('img4.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0 auto; 
    min-height: 100vh;
  }

.nav-container {
    display: flex;
    position: relative;
    height: 60px;
}

.nav-item {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 10px;
    font-weight: bold;
    color: #0d001e; 
    text-decoration: none;
    padding-right: 15px;
    padding-left: 0px;
    transition: color 0.3s ease; 
}

.nav-items {
    display: flex;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #e3f2fd8a;
    border-radius: 10px;
    margin-top: 5px;
    backdrop-filter: blur(2px);
    padding-left: 2%;
}

.title {
    margin: 10px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 25px;
    color: #FF023E;
}

.nav-item:hover, .nav-item.active {
    color: #FF023E; 
    cursor: pointer;
    font-size: 17px;
}
.nav-icon {
    display: none;
    z-index: 2;
}


@media (max-width: 723px) {
    .nav-items {
        display: none; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 50px 10px 5px 0;
        padding: 10px;
        border: #dfdfdf solid 2px;
        border-radius: 20px;
        background-color: rgba(221, 242, 250, 0.5);
        backdrop-filter: blur(10px);
        transition: max-height 0.4s ease, opacity 0.3s ease;
    }

    .nav-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        margin: 20px;
        padding-top: 5px;
        cursor: pointer;
    }

    .nav-container.expanded .nav-items {
        display: flex;
    }
}

.container {
    margin: 0 5%;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
    backdrop-filter: blur(2px);
    border: #dfdfdf27 solid 2px;
    border-radius: 15px;
    background-color: #dfdfdf35;
    position: relative;
    overflow-y: auto;
}

.content-section {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    background-color: transparent;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease, transform 0.5s ease; 
    overflow-y: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    
}
.content-section.active {
    display: block;
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.content-section.slide-out {
    animation: slideOut 0.5s ease forwards;
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.content-section.slide-in {
    animation: slideIn 0.5s ease forwards;
}

.content-section.active {
    display: block;
    opacity: 1;
    transform: scale(1);
}
.hello{
    font-size: 0.8rem;
    font-family:"gugi",sans-serif;
    box-sizing: border-box;
    overflow-y: auto;
}
.name{
    font-size: 3rem; 
    font-weight: bolder;
    font: exo2;
    color: #1E2A5E;
    font-family:"gugi",sans-serif;
}
.clrc{
    color: #FF023E;
}
.downbutton{
    margin-top: 30px;
}
.downloadcv button {
    width: 150px;            
    height: 35px;            
    background-color:#FF023E; 
    color: white;            
    border: none;           
    border-radius: 2.8px;      
    font-size: 12px;  
    font-family:"gugi", sans-serif;       
    cursor: pointer;         
    text-align: center;      
    padding: 0;   
    margin-top: 10%;           
    transition: background-color 0.2s, transform 0.3s; 
}
.highlight {
    color: black; 
    transition: color 0.3s; 
}
.highlight:hover {
    color: red; 
}
.downloadcv button:hover {
    background-color:#bb032e;
    transform: scale(1.05);   
}
.subbody2{
    display: flex;
    justify-content: center; 
    margin-right: 15%;
    align-items: center;
    width: 80%;
    height: 80%;
    filter: drop-shadow(0 0 2px #1E2A5E);
    
}
.imagefill{
    max-width: 80%;
    max-height: 80%; 
}
#section1{
    display: flex;
    box-sizing: border-box;
    margin-top: 10%;

}

@media (max-width: 768px) {
    #section1 {
      width: 95%; 
    }
  
    .leftsection  {
      font-size: 0.9rem; 
    }
  }
  
  @media (max-width: 480px) {
    #section1 {
      width: 100%; 
    }
  
    .rightsection {
      font-size: 0.8rem; 
    }
  }
@media (max-width: 768px) {
    #section1 {
      width: 95%; 
    }
  
    .rightsection  {
      font-size: 0.9rem; 
    }
  }
  
  @media (max-width: 480px) {
    #section1 {
      width: 100%; 
    }
  
    .rightsection {
      font-size: 0.8rem; 
    }
  }
.desc{
    margin-top: 3%;
    font-family: "Signika Negative", sans-serif;
    color:#021526 ;
    font-size: 18px;
}
.leftsection{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5%;
    overflow-y: auto;
}
.rightsection{
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}

@media (max-width: 723px) {
    #section1{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .subbody2{
        width: 70%;
        height: 70%;
        margin-right: 0%;
        margin-top: 5%;

    }
    .rightsection{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0%;
    }
    .leftsection{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name{
        margin-top: 7%;
        text-align: center;
    }
    .desc{
        margin-top: 7%;
        text-align: center;
    }
    #social1{
        margin-top: 4%;
    }
    .marginlogo{
        margin-left: 10px;
    }
    .body {
        background-image: url('img4.jpg'); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        margin: 0 auto; 
        min-height: 100vh;
      }
      #section2{
        display: block;
        justify-content: center;
        align-items: center;
      }
}
.content-container::-webkit-scrollbar {
    display: none;
  }
  *::-webkit-scrollbar {
    display: none;
}
.social{
    display: flex;
    justify-content: center;
    margin: 1%;
    margin-bottom: 1%;
}
.marginlogo{
    margin-left: 1%;
    font-weight: bold;
    color: #0d001e;
    margin-bottom: 1%;
}

.about-container {
    max-width: 900px;
    margin: 80px auto; 
    padding: 20px;
    background-color: transparent;
    overflow: auto; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #2c3e50;
}

p {
    margin-bottom: 15px;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
}

strong {
    color: #e74c3c;
}


@media (max-width: 768px) {
    .about-container {
        margin: 50px auto; 
        padding: 10px;
        padding-top: 10px;
    }

    h1 {
        font-size: 2rem; 
    }

    p {
        font-size: 0.9rem; 
    }
}

@media (max-width: 480px) {
    .about-container {
        margin: 30px auto; 
        padding: 10px;
    }

    h1 {
        font-size: 1.8rem;
        margin-top: 20px; 
    }

    p {
        font-size: 0.9rem;
    }
}
